/* Default styles */

.hero {
    position: relative;
  }
  
  .hero-img {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .hero-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  
  .hero-text {
    background: linear-gradient(90deg, rgba(2,0,36,0.8099614845938375) 0%, rgba(0,212,255,0) 100%);
    height: 100%;
    position: absolute;
    width: 45%;
    top: 50%;
    padding-left: 40px;
    transform: translateY(-50%);
    color: #fff;
  }
  
  .hero-text h2 {
    margin-top: 20%;
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  
  .hero-text p {
    font-size: 26px;
    margin: 0;
    line-height: 1.5;
  }
  
  .description {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
  
  .description-img {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .big-img {
    height: 400px;
    object-fit: cover;
    border: 5px solid #000;
    margin-bottom: 10px;
  }
  
  .small-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    border: 5px solid #000;
  }
    
  .description-text {
    margin-left: 40px;
    width: 50%;
  }
  
  .description-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .textlogo{
    height: 35px;
  }
  .description-text p {
    font-size: 20px;
    line-height: 1.5;
  }
  /* History Section */

  
.history {
  background: #fff;
  position: relative;
  overflow: hidden;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.history-img{
  display: flex;
  align-items: center;
  position: relative;
  padding: 40px;
}
.history-img img{
  height: 350px;
    object-fit: cover;
    border: 5px solid #000;
    margin-right: 30px;
    /* margin-bottom: px; */
}
  
.history-text {
  margin-left: 30px;
  width: 50%;
}

.history-text h3 {
  font-size: 29px;
  margin-bottom: 20px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.history-text p {
  font-size: 20px;
  line-height: 1.5;
}

.big-foot{
  background: linear-gradient(180deg, rgba(2,0,36,1) 34%, rgba(2,0,36,0.9023984593837535) 55%, rgba(2,0,36,0.6923144257703081) 81%, rgba(2,0,36,0.2805497198879552) 100%);
  color: #fff;
  position: absolute;
  overflow: hidden;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}  
  @media only screen and (max-width: 990px) {
    .hero-text {
      padding-left: 20px;
      width: 100%;
    }
    
    .description {
      flex-direction: column;
      padding: 20px;
    }
    
    .description-img {
      align-items: center;
      margin-bottom: 20px;
    }
    
    .big-img {
      height: 300px;
      width: 95%;
      margin-bottom: 5px;
    }
    
    .small-img {
      width: 100px;
      height: 100px;
      margin-right: -20px;
    }
    
    .description-text {
      margin-left: 0;
      width: 100%;
    }
    
    .description-text h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .description-text p {
      font-size: 16px;
      line-height: 1.2;
    }
    .history {
      height: auto;
      flex-direction: column;
    }
    
    .history-img {
      margin-bottom: 30px;
    }
    
    .history-img img {
      height: 300px;
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .history-text {
      margin-left: 0;
      width: 100%;
    }
    
    .history-text h3 {
      padding-left: 20px;
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .history-text p {
      padding-left: 20px;
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 450px){
    .big-foot{
      font-size: 12px;
      padding-top: 25px;
    }
  }
  