
.each-slide > div {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  
  .each-slide > h2,
  .each-slide > p {
    color: #d31d1d;
    /* text-align: left; */
    /* left: 40px; */
  }
  